*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f2ed;
}
nav{
    
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 20;
.nav-items ul{
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    
}
a{
    text-decoration: none;
    color: #6c706d;
}
.nav-cont{
 .nav-button{
    background-color: #1d4624;
    color: #fff;
    padding: 0 40px;
}
}

.nav-log image{
    width: 270px;
    object-fit: contain;
}
}